*{
  font-family: 'Inter', sans-serif;
  font-family: 'Karla', sans-serif;
}

.container{
  padding: 20px;
}

.container-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap:1rem
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 .4rem .8rem #0001;
  padding: 10px;
  margin-bottom: 20px;



}
.nav-left{
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-left > h3{
  color: mistyrose;
  font-weight: bold;
}

.nav-logo{
  margin-left: 10px;
  font-size: x-large;
  color: mistyrose ;
}

.nav-item{
  display: flex;
  list-style: none;
}

.nav-item > li{
  padding: 10px;
}

.content{
  display: flex;
  flex-direction: column;
  box-shadow: 0 .4rem .8rem #0001;
  padding: 3rem;
}

.content > ul >li{
  padding: 10px;
  font-size: 18px;
}

::marker{
  color: deepskyblue ;
  font-size: 1.4rem;
}


//CARD CSS

.card{
  width: 20rem;
  background-color: #393646 ;
  border-radius: 0.4rem ;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-info h1{
  margin-top:1rem;
  color:white;
  font-size: x-large;
}
.card-info h2{
  margin-top:-0.8rem;
  color:white;
  font-size: medium;
  font-weight: normal;
  color: chocolate;
}
.card-info h3{
  margin-top:0.2rem;
  color:white;
  font-size: small;
  font-weight: normal;
  color: ghostwhite;
}
.card img{
  width: 100%;
  border-top-left-radius: 0.4rem ;
  border-top-right-radius: 0.4rem ;
  object-fit: cover;
}

.card-button{
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  gap:2rem;
}

.card-button > button{
  width: 110px;
  padding: 0.5rem 1.5rem;
  border-radius:5px;
  border: none;
  font-weight: bold;
  align-items: center;
  gap:5px;
}

.card-button-email{
  display: flex;
  background-color: whitesmoke;
}
.card-button-linkedIn{
  background-color: dodgerblue;
  color:white;
}
.card-about{
  margin: 1.5rem 2rem;
}
.card-about >h1{
  font-size: medium;
  color: whitesmoke;
}
.card-interest > h1{
  font-size: medium;
  color: whitesmoke;
}
.card-interest{
  margin-top: -1.5rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}
.card-about> h3 {
  font-size: x-small;
  color:#fffb;
}
.card-interest > h3{
  font-size: x-small;
  color:#fffb;
}

.card-footer{
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  gap: 1rem;
  padding: 1rem;
  background-color: #0004;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.card-footer > button{

  background-color: transparent;
  color: #fffb;
  border: none;
  font-size: x-large;
}



//PRODUCT CARD
.product-card{
  position: relative;
  width:15rem;
  height: 25rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0.4rem 0.8rem #0001;

}
.product-card-badge{
  display: flex;
  justify-content: center;
  position: absolute;
  padding: 10px;
  background-color: cadetblue;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 5px;
  font-size: small;
  font-weight: bold;
  color: whitesmoke;
  height: fit-content;
  width: fit-content;


}
.product-card-info{
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  gap: 1rem;
}

.product-card-image{
  border-radius: 10px;
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.product-card > h1 {
  font-size: xx-large;
}


.product-card-info > h3 {
  font-size: small;
  margin: 0;
}

.product-card-container{
  position: absolute;
  bottom: 1rem;
}

//HEADER MEME

.header-meme{
  background: linear-gradient(#672280, #A626D3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:1rem
}

.header-meme-title{
  display: flex;
  align-items: center;
  gap: .7rem;
}

.header-meme-title > h1 {
  color: whitesmoke;
  font-weight: bold;
  font-size: 20.75px;
  letter-spacing: -1px;
}
.header-meme-title img {
  height: 2rem;
}

.header-meme > h4{
  color: whitesmoke;
  font-weight: normal;
}
.content-meme{
  display: flex;
  flex-direction: column;
  gap:2rem;
  padding: 5rem;

}
.content-meme-input{
  display: flex;
  justify-content: space-between;
  gap: 2rem;

}

.content-meme-input > input{
  width: 50%;
  height:2rem;
  font-size: large;
  border: 1px solid #0003 ;
  border-radius: 5px;
  padding:0.5rem;

}

.content-meme >button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height:3rem;
  font-size: large;
  padding:0.5rem;
  border-radius: 5px;
  color: whitesmoke;
  font-weight: bold;
  background: linear-gradient(#672280, #A626D3);
  border:none;
}

.content-meme >button:hover {
  box-shadow: 0 0.4rem 0.8rem #000b;
}
.content-meme >button:active {
  box-shadow: 0 0.4rem 0.8rem #000f;
}